.square_btn {
    background-color:#376092;
    color:white;
    font-size:22px;
    height: 60px;
    width:180px;
}

.square_btn:hover {
    background: #00bcd4;
    color: white;
}

.menu{
    height: 800px;
    width:200px;
}
.mainpart{
    height: 800px;
    width:1000px;
    margin-left: 220px;
    margin-top: -820px;
}
.inputform{
    width: 270px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    background-color:#dbeef4;
    color:#17375e;
}


.buttons {

    height: 90px;
    width: 370px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.inputform {
    height: 24px;
    width: 270px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.color{
    color:red;
}